<div class="container">
    <div class="row">
        <div class="col-md-10 mt-3 mx-auto">
            <h1>
                Ivory Technolab Practical Task
            </h1>
            <h5>Done by, Nihal Naresh</h5>
            <div class="row">
                <button routerLink="/users" class="post">Registration form</button> 
                <button routerLink="/viewall" class="view"> View All Registers</button>
                <button routerLink="/see" class="all">View Registers with Pagination</button>
                <button routerLink="/deleteRegs" class="delete">Delete All Registers</button>
            </div>
        </div>


    </div>
</div>